# Auto detect text files and perform LF normalization
* text=auto
qing-map-web/assets/preview/*.jpg filter=lfs diff=lfs merge=lfs -text
qing-map-web/assets/tiles/**/*.jpg filter=lfs diff=lfs merge=lfs -text
qing-map-web/assets/tiles/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
qing-map-web/assets/tiles/**/*.png filter=lfs diff=lfs merge=lfs -text
